@import url('//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic');
@import url('//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic');
@import url('//weloveiconfonts.com/api/?family=entypo');

/* --- CSS Resets --- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #f2f1ed;
	line-height: 1.4em;
	font-family: 'PT Sans';
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	color: #103e5e;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

p {
	font-size: 1.25em;
	line-height: 1.7em;
}

a {
	color: #103e5e;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
}


/* --- page layout --- */

body > header,
body > main,
body > footer {
	width: 100%;
}

body > header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

header > nav,
main > section,
footer > div {
	max-width: 1100px;
	margin: 0 auto;
}

header > nav {
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

body > main {
	margin-top: 140px;
}

/* --- page --- */

body {
	background-color: #d4d0cd;
}

main {
	background-color: #f2f1ed;
}


/* --- page header --- */

body > header {
	background-color: #f2f1ed;
}

header > nav {
	text-align: right;
}

header > nav a {
	display: inline-block;
	height: 100%;
	padding: 35px 15px 35px 20px;
	text-transform: lowercase;
	font-size: 1.4em;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	-o-opacity: 0.5;
	opacity: 0.5;
	color: #103e5e;
}

header > nav a.brand {
	display: block;
	float: left;
	padding: 0 15px;
	width: 33.333%;
	height: 100%;
	line-height: 0;
	color: transparent;
}

header > nav a:hover,
header > nav a.brand {
	-webkit-opacity: 1.0;
	-moz-opacity: 1.0;
	-o-opacity: 1.0;
	opacity: 1.0;
}

header > nav a.brand::before {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	content: " ";
}

header > nav a span {
	border-bottom: 2px solid transparent;
	padding: 3px 0;
}

header > nav a:hover span {
	border-bottom: 2px solid #103e5e;
}


/* --- homepage intro section --- */

section#home-intro h1 {
	display: block;
	float: right;
	width: 66.666%;
	padding: 25% 0 55px 45px;
	background-image: url('../images/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-transform: lowercase;
	font-size: 2.8em;
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: normal;
	color: white;
	cursor: default;
}

section#home-intro a {
	position: relative;
	display: block;
	clear: right;
}

section#home-intro blockquote {
	padding: 50px 50px 50px 120px;
	width: 75%;
	background-color: #e64f56;
	color: white;
}

section#home-intro blockquote p {
	line-height: 1.4em;
	text-transform: lowercase;
	font-size: 1.8em;
}

section#home-intro blockquote::before {
	position: absolute;
	float: left;
	left: 40px;
	top: 125px;
	font-size: 9em;
	opacity: 0.3;
	content: "\201c";
}

section#home-intro button {
	display: block;
	position: absolute;
	top: 0;
	right: 16.666%;
	border: none;
	padding: 6% 0 0 0;
	width: 8.333%;
	background-color: #103e5e;
	text-transform: uppercase;
	line-height: 0;
	color: transparent;
}

section#home-intro button::before {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
/*	padding-top: 15%;*/
	line-height: 100%;
	font-size: 5em;
	font-family: 'Entypo';
	color: white;
	content: "\e760";
}

section#home-intro a:hover blockquote p {
	opacity: 0.7;
}

section#home-intro a:hover button {
	background-color: #2fb3d2;
}

/* --- homepage trajectory preview section --- */

section#home-traject {
	padding-top: 50px;
	padding-bottom: 50px;
}

section#home-traject a {
	display: block;
	position: relative;
}

section#home-traject blockquote {
	padding: 7% 5% 7% 52%;
	width: 83.333%;
	background-color: white;
	color: #2fb3d2;
}

section#home-traject blockquote::before {
	display: block;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 60px;
	width: 41.666%;
	background-image: url('../images/traject-preview.png');
	background-repeat: no-repeat;
	background-size: contain;
	content: " ";
}

section#home-traject blockquote p {
	line-height: 1.2em;
	font-weight: bold;
	font-size: 1.8em;
}

section#home-traject button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	padding: 1.2% 1% 1% 1%;
	width: 16.666%;
	background-color: #2fb3d2;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 1.1em;
	font-weight: bold;
	color: white;
}

section#home-traject button::after {
	margin-left: 1.5em;
	font-family: 'Entypo';
	content: '\e762';
}

section#home-traject a:hover blockquote p {
	color: #103e5e;
}

section#home-traject a:hover button {
	background-color: #e64f56;
}


/* --- homepage services section --- */

section#home-diensten {
	padding-top: 50px;
	padding-bottom: 50px;
}

section#home-diensten p {
	font-size: 1.5em;
}

section#home-diensten > p {
	margin-bottom: 40px;
	text-align: center;
	text-transform: lowercase;
	font-size: 1.7em;
	font-weight: bold;
	opacity: 0.3;
}

section#home-diensten ul {
	list-style-type: none;
}

section#home-diensten ul::before,
section#home-diensten ul::after {
	display: table;
	content: " ";
}

section#home-diensten ul::after {
	clear: both;
}

section#home-diensten li {
	float: left;
	padding: 0 15px;
	width: 33.333%;
}

section#home-diensten h2 {
	position: relative;
	margin: 0 -15px 40px -15px;
	padding: 20% 20% 20% 40%;
	text-transform: lowercase;
	color: white;
	cursor: default;
}

section#home-diensten h2::before {
	display: block;
	position: absolute;
	top: 25%;
	bottom: 25%;
	left: 15%;
	width: 20%;
	background-repeat: no-repeat;
	background-size: contain;
	background-size: center;
	content: " ";
}

section#home-diensten li:nth-child(1) h2 {
	background-color: #2fb3d2;
}

section#home-diensten li:nth-child(1) h2::before {
	background-image: url('../images/service1.png');
}

section#home-diensten li:nth-child(2) h2 {
	background-color: #e64f56;
}

section#home-diensten li:nth-child(2) h2::before {
	background-image: url('../images/service2.png');
}

section#home-diensten li:nth-child(3) h2 {
	background-color: #103e5e;
}

section#home-diensten li:nth-child(3) h2::before {
	background-image: url('../images/service3.png');
}


/* --- homepage contact section --- */

section#home-contact {
	padding-top: 50px;
	padding-bottom: 50px;
}

section#home-contact > div {
	position: relative;
	padding-top: 16.666%;
}

section#home-contact span,
section#home-contact a {
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
}

section#home-contact span {
	left: 0;
	width: 50%;
	padding: 6% 5%;
	line-height: 100%;
	text-transform: lowercase;
	font-size: 2em;
	font-weight: bold;
	background-color: white;
	color: #64c29f;
	cursor: default;
}

section#home-contact a {
	width: 16.666%;
	background-color: #64c29f;
	line-height: 0;
	color: transparent;
}

section#home-contact a:nth-child(2) {
	right: 33.333%;
}

section#home-contact a:nth-child(3) {
	right: 16.666%;
}

section#home-contact a:nth-child(4) {
	right: 0;
}

section#home-contact a::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 250%;
	text-align: center;
	font-size: 5em;
	font-family: 'Entypo';
	color: white;
}

section#home-contact a:nth-child(2)::before {
	content: "\2709";
}

section#home-contact a:nth-child(3)::before {
	content: "\01f4de";
}

section#home-contact a:nth-child(4)::before {
	content: "\f318";
}

section#home-contact a:hover {
	background-color: #58a887;
}


/* --- trajectory page --- */

#traject section {
	padding-top: 5em;
	max-width: none;
	margin: 0;
}

#traject section.slide {
	position: relative;
	min-height: 960px;
}

#traject section.slide::before,
#traject section.slide::after {
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	content: " ";
}

#traject section span {
	display: block;
	margin: 0 15px;
	line-height: 1.2;
	text-transform: lowercase;
	font-size: 1.7em;
	font-weight: bold;
}

#traject section.slide span {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 460px;
}

section#traject-heading,
section#traject-intro {
	background-color: white;
}

section#traject-heading {
	padding-top: 3em;
	padding-bottom: 5em;
}

section#traject-heading h1,
section#traject-heading::after,
section#traject-contact span {
	text-align: center;
}

section#traject-heading:;after,
section#traject-contact span {
	font-weight: normal;
}

section#traject-heading::after {
	display: block;
	line-height: 1.4;
	font-family: 'PT Serif', serif;
	font-size: 1.6em;
	font-style: italic;
	content: "(scroll om te beginnen)";
}

section.slide#traject-intro::after {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 180px;
	width: 1100px;
	background-image: url('../images/traject-01.png');
	background-position: 100% center;
}

section.slide#traject-intro span {
	max-width: 1100px;
}

section.slide#traject-herstel {
	padding-top: 12em;
	background-color: #2eb1d0;
	color: white;
}

section.slide#traject-herstel::before {
	position: absolute;
	top: 7em;
	right: 50%;
	height: 360px;
	width: 360px;
	background-image: url('../images/traject-02.png');
}

section.slide#traject-herstel span {
	margin: 0 auto 0 50%;
	text-align: center;
}

section.slide#traject-overleg {
	padding-top: 8em;
	background-color: #64c2a0;
	color: white;
}

section.slide#traject-overleg::before {
	position: absolute;
	top: 6em;
	left: 50%;
	height: 270px;
	width: 450px;
	background-image: url('../images/traject-03.png');
}

section.slide#traject-overleg span {
	margin: 0 50% 0 auto;
	text-align: center;
}

section.slide#traject-specialisten {
	padding-top: 12em;
	background-color: #e55156;
	color: white;
}

section.slide#traject-specialisten::before {
	position: absolute;
	top: 6em;
	right: 50%;
	height: 450px;
	width: 350px;
	background-image: url('../images/traject-04.png');
}

section.slide#traject-specialisten span {
	margin: 0 auto 0 50%;
}

section.slide#traject-eind {
	background-color: #e4d8b7;
	color: white;
}

section.slide#traject-eind::before {
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 450px;
	width: 250px;
	background-image: url('../images/traject-05.png');
}

section.slide#traject-eind span {
	text-align: center;
}

section.slide#traject-eind span:nth-child(1) {
	margin: 0 55% 0 auto;
}

section.slide#traject-eind span:nth-child(2) {
	margin: 0 auto 0 55%;
}

section#traject-contact {
	padding: 4em 0;
}

section#traject-contact span {
	font-size: 1.4em;
}


/* --- services page --- */

#diensten {
	padding: 5em 0;
}

#diensten section + section {
	margin-top: 5em;
}

section#diensten-heading {
	display: none;
}

section#diensten-heading + section {
	margin-top: 0;
}

#diensten h2,
#diensten p {
	margin: 0;
	padding: 0 15px;
}

#diensten h2 {
	position: relative;
	font-size: 1.7em;
}

#diensten h2::before {
	display: block;
	margin-bottom: 0.5em;
	padding-top: 4em;
	width: 100%;
	background-position: center 0%;
	background-repeat: no-repeat;
	background-size: contain;
	content: " ";
}

#diensten p {
	font-size: 1.4em;
}

#diensten p + p {
	margin-top: 0.5em;
}

section#dienst-1 h2::before {
	background-image: url('../images/service1.png');
}

section#dienst-2 h2::before {
	background-image: url('../images/service2.png');
}

section#dienst-3 h2::before {
	background-image: url('../images/service3.png');
}

@media (min-width: 720px) {
	#diensten h2::before {
		display: block;
		position: absolute;
		top: -0.25em;
		right: 100%;
		width: 33.333%
	}

	#diensten h2,
	#diensten p {
		margin-left: 25%;
	}
}

@media (min-width: 880px) {
	#diensten h2,
	#diensten p {
		width: 660px;
	}
}

@media (min-width: 1100px) {
	#diensten h2,
	#diensten p {
		margin-right: 15%;
		width: auto;
	}
}

/* --- footer --- */

footer {
	padding: 50px 0;
	color: #666;
}

footer > div {
	position: relative;
}

footer > div::before {
	display: block;
	position: absolute;
	top: 10%;
	bottom: 0;
	left: 15px;
	width: 32%;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	content: " ";
}

footer nav,
footer pre {
	display: inline-block;
}

footer nav {
	display: inline-block;
	margin-left: 43%;
}

footer nav a {
	display: block;
	line-height: 1.2;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

footer nav a:hover,
footer nav a:active {
	
}

footer pre {
	float: right;
	margin-right: 17%;
	background: none;
	font-family: inherit;
	font-size: 1.15em;
	opacity: 0.7;
}