@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic');
@import url('http://weloveiconfonts.com/api/?family=entypo');

/* --- CSS Resets --- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: 'PT Sans';
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;

  background-color: #f2f1ed;
  color: #103e5e;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
p {
  font-size: 1.25em;
  line-height: 1.7em;
}
a {
  color: #103e5e;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}



/* --- (bs extension) --- */
.row {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
} 
.row.row-nogttr > [class^="col-"],
.row.row-nogttr > [class*=" col-"] {
  padding-left: 0;
  padding-right: 0;
}



/* --- (ionicons extension) --- */
.ion-2x {
  font-size: 2em;
}
.ion-3x {
  font-size: 3em;
}



/* --- utility classes --- */
.u-w50 {
  width: 50%;
}
.u-w100 {
  width: 100%;
}
.u-ml05 {
  margin-left: 0.5em;
}
.u-ml1 {
  margin-left: 1em;
}
.u-pv50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.u-t15x {
  font-size: 1.5em;
}



/* --- colored box --- */
.box-red {
  padding: 50px;
  background-color: #e64f56;
}
.box-white {
  padding: 50px;
  background-color: #fff;
}
a .box-white:hover,
a .box-white:focus {
  background-color: #f7f7f7;
}



/* --- action buttons --- */
.action {
  display: inline-block;
  padding: 15px 20px;
  float: left;
  background-color: #103e5e;
  -webkit-box-shadow: 0 2px #071c2b;
  -moz-box-shadow: 0 2px #071c2b;
  box-shadow: 0 2px #071c2b;
  font-weight: bold;
  text-align: center;
  color: #fff;
  z-index: 1;
}
.action:hover,
.action:focus {
  background-color: #2fb3d2;
  -webkit-box-shadow: 0 2px #289db8;
  -moz-box-shadow: 0 2px #289db8;
  box-shadow: 0 2px #289db8;
  color: #fff;
}



/* --- page layout --- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  background-color: #f2f1ed;
}
main {
}
section {
  /*padding: 40px 0;*/
  overflow: hidden;
}
section:first-child {
  padding-top: 100px;
}



/* --- header --- */
header .logo {
  display: block;
  margin: 10px 0;
}
header .logo img {
  height: 80px;
}



/* --- nav --- */
nav ul.menu {
  float: right;
  list-style: none;
}
nav ul.menu li {
  display: inline-block;
  float: left;
  height: 100px;
}
nav ul.menu a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 38px;
  font-size: 1.4em;
  text-align: center;
}
nav ul.menu a {
  -moz-opacity: 0.5;
  opacity: 0.5;
  color: #103e5e;
}
nav ul.menu a:hover,
nav ul.menu a:focus {
  -moz-opacity: 1;
  opacity: 1;
  color: #e64f56;
}
nav ul.menu li:last-child a {
  padding-right: 0;
}
nav ul.menu .text {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}
nav ul.menu .current .text {
  border-bottom-color: 
}



/* --- homepage blockquote --- */
.quotebox {
  position: relative;
  padding-left: 120px;
  color: #fff;
  font-size: 2em;
  line-height: 1.4em;
}
.quotebox:before {
  content: "\201C";
  position: absolute;
  left: 40px;
  top: 110px;
  float: left;
  font-size: 5em;
  opacity: 0.3;
}



/* --- homepage intro --- */
section#intro {
  /*background-image: url('../images/banner-intro.jpg');*/
  background-size: cover;
}



/* --- homepage traject question --- */
.home #traject .question {
  padding: 20px;
  font-weight: bold;
  color: #2fb3d2;
  font-size: 2em;
  line-height: 1.4em;
}